[*.cs]

# IDE0008: Use explicit type
csharp_style_var_elsewhere = false:none

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = false:none

# IDE0008: Use explicit type
csharp_style_var_for_built_in_types = false:none

# CS3021: Type or member does not need a CLSCompliant attribute because the assembly does not have a CLSCompliant attribute
dotnet_diagnostic.CS3021.severity = none

# VSTHRD001: Avoid legacy thread switching APIs
dotnet_diagnostic.VSTHRD001.severity = none

# VSTHRD110: Observe result of async calls
dotnet_diagnostic.VSTHRD110.severity = none

# VSTHRD200: Use "Async" suffix for async methods
dotnet_diagnostic.VSTHRD200.severity = none

# AD0001: Analyzer Failure
dotnet_diagnostic.AD0001.severity = silent
