body {
    background: #fafafa;
    color: #333;
    font: 100%/30px 'Helvetica Neue', helvetica, arial, sans-serif;
    margin: 8px;
}

/*h1 {
  font-size: 15pt;
  margin-bottom: 10px;
  font-weight: bold;
}*/

h2 {
    font-size: 1.2em;
    text-align: center;
    margin-top: 0em;
    margin-bottom: 0.2em;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

table {
    background: #f5f5f5;
    font-size: 10pt;
    line-height: 22px;
    text-align: left;
}

p {
    font-size: 11pt;
    margin-top: 0.2em;
    margin-bottom: 0.4em;
    line-height: normal;
    margin-left: 3px;
}

th {
    background: #333;
    border-left: 1px solid #555;
    border-right: 1px solid #777;
    border-top: 1px solid #555;
    border-bottom: 1px solid #333;
    color: #fff;
    font-weight: bold;
    padding: 5px 15px;
    position: relative;
}

td {
    border-right: 1px solid #fff;
    border-left: 1px solid #e8e8e8;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #e8e8e8;
    padding: 2px 15px;
    position: relative;
}

td:last-child {
    border-right: 1px solid #e8e8e8;
}

tr:nth-child(odd) td {
    background: #f1f1f1;
}
